@model v1jobportal.Models.ApplicantBioData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicantBioData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Residence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Residence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativePhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativePhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguagesSpoken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguagesSpoken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkedWithIDRC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkedWithIDRC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
