@model v1jobportal.Models.EducationDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EducationDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationAttained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationAttained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateQualificationWasAttained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateQualificationWasAttained)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
